<div class="container my-5">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quod est sunt consectetur ab iusto, ad numquam ut
        assumenda, sit dolorem nobis tempora eligendi, eos maiores veniam accusantium dolores quos?</p>

    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Write your message here" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>






