<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>First_Heading</title>
</head>

<body>
   <div class="container-fluid bg-light py-2 px-4">
      <div class="row justify-content-center">
         <div class="col-md-8">

            <p class="fw-medium fs-2 text-secondary"><strong>The First Heading</strong> Will Catch Your Eye</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui facilis et quis eos expedita distinctio
               accusantium dicta inventore magni eaque, consequatur voluptas consectetur similique nemo, totam cum.
               Sint, quod maxime.</p>
         </div>
         <div class="image d-flex justify-content-center col-md-4">
            <img src="assets/img/1.jpg" class="rounded-circle" alt="Walter_White" width="200px" height="200px">
         </div>
      </div>
   </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
      integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>