<div class="container">
    <div class="image-container position-relative">
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand text-black" href="#">Start Bootstrap</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-black" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <img src="https://th.bing.com/th?id=OIP.e9FGFTG-5uWy80EennEIGQHaE7&w=306&h=204&c=8&rs=1&qlt=90&r=0&o=6&dpr=1.5&pid=3.1&rm=2"
            class="img-fluid w-100" alt="foto de Nueva York">

            
    </div>