<h1>portofolio</h1>
<div>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero quam inventore, aut voluptates molestias labore
    deleniti eaque maxime. Quis nostrum deleniti consequuntur minus dolore accusantium ex ad placeat nulla! Iusto.</p>

    <div class="container portfolio">
      <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, laboriosam sapiente odio ea necessitatibus et nostrum unde blanditiis, quibusdam repellendus ipsum labore ad aperiam natus?</p>
      <div class="d-flex align-items-center">
          <div class="card mb-4" style="width: 700px; height: 400px;">
              <div class="row g-0 h-100">
                  <div class="col-md-4">
                      <img src="https://via.placeholder.com/700x400" class="img-fluid h-100" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="project">project name</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     
                      </div>
                  </div>
              </div>
          </div>
          <div class="card mb-4" style="width: 700px; height: 400px;">
              <div class="row g-0 h-100">
                  <div class="col-md-4">
                      <img src="https://via.placeholder.com/700x400" class="img-fluid h-100" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="project">projrct name</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                       
                      </div>
                  </div>
              </div>
          </div>
          <div class="card mb-4" style="width: 700px; height: 400px;">
              <div class="row g-0 h-100">
                  <div class="col-md-4">
                      <img src="https://via.placeholder.com/700x400" class="img-fluid h-100" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="project">project name</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>